<div class="center card-panel">
    <div class="center card-panel purple lighten-5">
        <a id="dashboardPostName" class="waves-effect waves-teal btn-flat grey darken white-text">
            {{!-- needs home-routs to have comment get too --}}
            {{comment_text}}
            
        </a>
    </div>
</div>