{{!-- <div class="center card-panel">
    <div class="center card-panel deep-purple lighten-4">
        <a href="/post/{{id}}" id="dashboardPostName" class="waves-effect waves-teal btn-flat white-text logofont">
            {{post_title}}
        </a>
    </div>

</div> --}}
<a href="/post/{{id}}" id="dashboardPostName" class="col s10 offset-s1 card-panel green accent-3 shadow btnbtn2 singlePost">
    {{post_title}}
</a>
<style type="text/css">
    .btnbtn2 {

        transition: transform 250ms !important;
    }
    .btnbtn2:hover {
        transform: translateY(-5px) !important;
    }
    .singlePost{
        color: black
    }

</style>
