<div class="center card-panel">
    <div class="center card-panel deep-purple lighten-4">
        <a href="/post/{{id}}" id="dashboardPostName" class="waves-effect waves-teal btn-flat white-text logofont">
            {{post_title}}
        </a>
    </div>

</div>