<div class="center card-panel">
    <div class="center card-panel teal lighten-5">
        <a href="/post/{{id}}" id="dashboardPostName" class="waves-effect waves-teal btn-flat black-text logofont">
            {{post_title}}
        </a>
    </div>

</div>