<div class="center row">
    <div class="card-panel grey lighten-2 col s10 offset-s1">
        <a id="dashboardPostName" href="/comment/{{id}}" class="waves-effect waves-teal btn-flat grey-text">
            {{!-- needs home-routs to have comment get too --}}
            {{comment_text}} 
            {{!-- this is wehre i need to put the name of the person who commented too --}}
            
        </a>
    </div>
</div>