<div class="center card-panel">
    <div class="center card-panel pink lighten-5">
        <a href="post/{{id}}" id="dashboardPostName" class="waves-effect waves-teal btn-flat grey darken white-text">
            {{post_title}}
        </a>
    </div>

</div>