<!DOCTYPE html>
<html lang="en">

<head>
    <!--head area where style sheet is linked and title writen-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="/public/CSS/button.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <title>main</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green accent-3">
                <a href="/" class="brand-logo right logofont">BadNoise</a>
                <ul class="left down">

                    {{#if loggedIn}}
                    <li><a href="/" class="btnbtn waves-effect green accent-3">Home</a></li>
                    <li><a href="/dashboard" class="btnbtn  waves-effect green accent-3">Dashboard</a></li>
                    <li><a href="/newpost" class="btnbtn  waves-effect green accent-3">Make A Post</a></li>
                    <li><a id="logoutbtn" class="btnbtn  waves-effect green accent-3">Log Out</a></li>
                    {{else}}

                    {{/if}}

                </ul>
            </div>
        </nav>
    </div>
    {{#if loggedIn}}
    {{!-- this works --}}
    <!-- floating new note button -->
    <div class="fixed-action-btn">
        <a href="/newpost" class="btn-floating btn-large green accent-3 btnbtn">
            <i class="large material-icons">mode_edit</i>
        </a>

    </div>
    {{{body}}}

    {{else}}
    <div class="container row">
        {{!-- this is login and sign up form --}}
        <div id="login" class="card-panel col s6 offset-s3 center roof round">
            <h4 id="flow-text" class="black-text center logofont">
                Login
            </h4>

            <div class="row ">
                <form class="col s12">
                    <div class="row">
                        <div class="active input-field col s10 offset-s1">
                            <input id="email" type="text" data-length="20">
                            <label class="active" for="input_text">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active input-field col s10 offset-s1">
                            <input id="password" type="password" data-length="20">
                            <label class="active" for="input_text">Password (6-20 characters)</label>
                        </div>
                    </div>
                    <a id="loginSubmitBtn" class="waves-effect waves-teal btn-flat btnbtn">
                        Log In
                    </a>
                    <a id="signUpButton" class="waves-effect waves-teal btn-flat btnbtn">
                        Sign Up Instead
                    </a>
                </form>
            </div>
            <script src='loginScript.js'></script>


        </div>
        <div id="signup" class="card-panel col s6 offset-s3 center roof round hide  ">
            <h4 id="flow-text" class="black-text center logofont">
                Sign Up
            </h4>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="active input-field col s10 offset-s1">
                            <input id="username2" type="text" data-length="20">
                            <label class="active" for="input_text">Username</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="active input-field col s10 offset-s1">
                            <input id="email2" type="text" data-length="20">
                            <label class="active" for="input_text">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active input-field col s10 offset-s1 ">
                            <input id="password2" type="password" data-length="20">
                            <label class="active" for="input_text">Password (6-20 characters)</label>
                        </div>
                    </div>
                    <a id="createNewUser" class="waves-effect waves-teal btn-flat createNewUser">
                        Create User
                    </a>

                </form>
            </div>
        </div>

    </div>
    {{/if}}

    </div>
    {{!-------------------------- THIS IS WHERE THE JS IS ADDED ----------------------------}}
    <script src='/logoutScript.js'></script>
    <script src='signUpScript.js'></script>


    {{!-------------------------- THIS IS WHERE THE STYLING BEGINS ----------------------------}}
    <style type="text/css">
        .logofont {
            font-family: 'Courier New', Courier, monospace;
        }

        body {
            background-color: #212121
        }

        .down {
            transform: translateY(-3px) !important;
        }

        .btnbtn {

            transition: transform 250ms !important;
        }

        .btnbtn:hover {
            transform: translateY(-10px) !important;
        }

        .hide {
            display: none;
        }

        .smaller {
            width: 50%
        }

        .roof {
            margin-top: 5%;
        }

        .round {
            border-radius: 10%;
        }
        .no-margin{
            margin-top: 0%;
            margin-bottom: 0%;
            margin-right: 0%;
            margin-left:0%;
           
        }
        .height{
            height: 91vh;
        }
    </style>
    </body>


</html>