<!DOCTYPE html>
<html lang="en">

<head>
    <!--head area where style sheet is linked and title writen-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>main</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal accent-3">
                <a href="#!" class="brand-logo left">TekTalk</a>
                <ul class="right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/comment">Log Out</a></li>
                    <li><a href="/">Log In</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
       {{{body}}}
        <!-- floating new note button -->
        <div class="fixed-action-btn">
            <a href="/newpost" class="btn-floating btn-large teal accent-3">
              <i class="large material-icons">mode_edit</i>
            </a>
           
          </div>
                

    </div>


</body>

</html>