<!DOCTYPE html>
<html lang="en">

<head>
    <!--head area where style sheet is linked and title writen-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="/public/CSS/button.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <title>main</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal accent-3 ">
                <a href="/" class="brand-logo left">TekTalk</a>
                <ul class="right down">

                    {{#if loggedIn}}
                    <li><a href="/" class="btnbtn waves-effect teal accent-3">Home</a></li>
                    <li><a href="/dashboard" class="btnbtn  waves-effect teal accent-3">Dashboard</a></li>
                    <li><a href="/newpost" class="btnbtn  waves-effect teal accent-3">Make A Post</a></li>
                    <li><a id="logoutbtn" class="btnbtn  waves-effect teal accent-3">Log Out</a></li>
                    {{else}}
                    <li><a  class="btnbtn waves-effect teal accent-3">Log In</a></li>
                    {{/if}}

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {{#if loggedIn}}
        {{!-- this works --}}
        <!-- floating new note button -->
        <div class="fixed-action-btn">
            <a href="/newpost" class="btn-floating btn-large teal accent-3 btnbtn">
                <i class="large material-icons">mode_edit</i>
            </a>

        </div>
                {{{body}}}

        {{else}}

        {{!-- this is login and sign up form --}}
        <div id="login" class="center card-panel">
            <h4 id="flow-text" class="white-text center card-panel cyan accent-3">
                Login
            </h4>

            <div class="row ">
                <form class="col s12">
                    <div class="row">
                        <div class="active input-field col s6">
                            <input id="username" type="text" data-length="20">
                            <label class="active" for="input_text">username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active input-field col s6 ">
                            <input id="password" type="password" data-length="20">
                            <label class="active" for="input_text">password</label>
                        </div>
                    </div>
                    <a id="loginSubmitBtn" class="waves-effect waves-teal btn-flat btnbtn">
                        Log In
                    </a>
                    <a  id="signUpButton" class="waves-effect waves-teal btn-flat btnbtn">
                        Sign Up Instead
                    </a>
                </form>
            </div>
            <script src='loginScript.js'></script>


        </div>
        <div id="signup" class="center card-panel hide  ">
    <h4 id="flow-text" class="white-text center card-panel  amber lighten-3">
        Sign Up
    </h4>

    <div class="row"></div>
        <form class="col s12">
            <div class="row">
                <div class="active input-field col s6">
                    <input id="username2" type="text" data-length="20">
                    <label class="active" for="input_text">username</label>
                </div>
            </div>
            <div class="row ">
                <div class="active input-field col s6">
                    <input id="email" type="text" data-length="20">
                    <label class="active" for="input_text">email address</label>
                </div>
            </div>
            <div class="row">
                <div class="active input-field col s6 ">
                    <input id="password2" type="text" data-length="20">
                    <label class="active" for="input_text">password</label>
                </div>
            </div>
            <a id="createNewUser" class="waves-effect waves-teal btn-flat createNewUser">
                Create User
            </a>
           
        </form>
    </div>

</div>
        {{/if}}

    </div>
    <script src='/logoutScript.js'></script>
    <script src='signUpScript.js' ></script>


{{!-- THIS IS WHERE THE STYLING BEGINS --}}
    <style type="text/css">
        .down {
            transform: translateY(-3px) !important;
        }

        .btnbtn {

            transition: transform 250ms !important;
        }

        .btnbtn:hover {
            transform: translateY(-10px) !important;
        }
        .hide{
            display:none;
        }
    </style>
</body>


</html>