<!DOCTYPE html>
<html lang="en">

<head>
    <!--head area where style sheet is linked and title writen-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/public/CSS/button.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>main</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal accent-3">
                <a href="/" class="brand-logo left btnbtn  waves-effect teal accent-3">TekTalk</a>
                <ul class="right">
                   
                    {{#if loggedIn}}
                    <li><a href="/" class="btnbtn waves-effect teal accent-3">Home</a></li>
                    <li><a href="/dashboard" class="btnbtn  waves-effect teal accent-3">Dashboard</a></li>
                    <li><a  id="logoutbtn" class="btnbtn  waves-effect teal accent-3">Log Out</a></li>
                    {{else}}
                    <li><a href="/login" class="btnbtn waves-effect teal accent-3">Log In</a></li>
                    {{/if}}
                    
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
       {{#if loggedIn}}
       {{!-- this works --}}
        <!-- floating new note button -->
        <div class="fixed-action-btn">
            <a href="/newpost" class="btn-floating btn-large teal accent-3 btnbtn">
                <i class="large material-icons">mode_edit</i>
            </a>
        
        </div>
        {{#if loggedIn}}
        {{{body}}}
         {{else}}
         <h1> Please Log In to See Content</h1>
             {{/if}}
        </div>
        <script src='/logoutScript.js'></script>
            <style type="text/css">
            .btnbtn {
                /*
      All of the base styles have
      moved to the “CSS” tab above.
    */
                transition: transform 250ms !important;
            }

            .btnbtn:hover {
                transform: translateY(-10px) !important;
            }
        </style>
        </body>
         

</html>