<!-- this is the template to a finished comment -->
<div class="center card-panel purple lighten-4">
    <p class="flow-text">
        This is a great post thank you so much for posting it!
    </p>
    <p class="flow-text purple-text">
        User123 on 6/6/06
    </p>
</div>