<!-- this is the template for single comment  -->
<div id="flow-text" class="center ">
    <div id="flow-text" class="center card-panel">
        <h5 id="flow-text" class="white-text center card-panel purple lighten-4">
            {{comment_text}}
        </h5>
        <p>
            {{!-- {{User.username} --}}
        </p>

        <a id="updateBtn" href="/update/{{id}}" class="grey-text waves-effect waves-light btn light-blue lighten-4">Update</a>

        <a id="deleteBtn" href="/delete/{{id}}" class="grey-text waves-effect waves-light btn  purple lighten-4">Delete</a>

    </div>
    
    {{!-- once comment rout is set up in home-routs.js this will generate the section --}}

</div>