<div class="row card-panel white no-margin">
    <div class="col s4 card-panel red">
        <div class="col s10 push-s1">
            photo
        </div>
        <div class="col s12">loops</div>
        <div class="col s12">samples</div>
        <div class="col s12">drums</div>
        <div class="col s12">noise</div>
        <div class="col s12">
            <div class="col s8 push-s2">
                description paragraph goes here
            </div>
        </div>

    </div>
    <div class="col s8 card-panel purple">
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
    </div>
</div>