<!-- this is the template for Home Page for some reasong this works even when comted out -->
<div>
    <div class="center card-panel no-margin row grey darken-4">
        {{!-- <h3 id="flow-text" class="grey-text text-darken-1 center logofont">
            SOUNDS
        </h3> --}}
        <div class="loopsContainer col s5 grey darken-2 ">
            <div class=" card-panel blue z">
                label
            </div>
            <div class="card-panel white scrollContainer q">
            {{#each post as |post|}}
            {{>singlepost}}
            {{/each}}
            </div>
           
        </div>
        <div class="noiseCointainer col s5 offset-s2 green accent-3">
          <div class="card-panel white scrollContainer">
            {{#each post as |post|}}
            {{>singlepost}}
            {{/each}}
            </div>
           
        </div>
        <div class="drumsCointainer col s5 green accent-3 roofer">
            <div class="card-panel white scrollContainer">
            {{#each post as |post|}}
            {{>singlepost}}
            {{/each}}
            </div>
           
        </div>
        <div class="samplesCointainer col s5 offset-s2 grey darken-2  roofer">
            <div class="card-panel white scrollContainer">
            {{#each post as |post|}}
            {{>singlepost}}
            {{/each}}
            </div>
        </div>



    </div>

    {{!-- once comment rout is set up in home-routs.js this will generate the section --}}


</div>

<style type="text/css">
    .loopsContainer{
       height: 40vh;
       transform: translateX(10%);
    }
    .noiseCointainer{
        height: 40vh;
        transform: translateX(-10%);
    }
    .drumsCointainer{
        height: 40vh;
        transform: translateX(10%);
    }
    .samplesCointainer{
        height: 40vh;
        transform: translateX(-10%);
    }
  
    .scrollContainer{
        height:90%;
        margin-top: 2%;
        overflow: scroll;
    }
    .roofer{
        margin-top: 2%;
    }
    .z{
        z-index: 4;
        transform:translateX(-50%);
        width: 20%;
    }
    .q{
        z-index: 1;
    }
</style>