<!-- this is the template for Home Page for some reasong this works even when comted out -->
<div>
    <div class="center card-panel no-margin row">
        <h3 id="flow-text" class="grey-text text-darken-1 center logofont">
            SOUNDS
        </h3>
        <div class="soundsContainer col s6 red">
            {{#each post as |post|}}
            {{>singlepost}}
            {{/each}}
           
        </div>



    </div>

    {{!-- once comment rout is set up in home-routs.js this will generate the section --}}


</div>