<div class="row card-panel bgcolor no-margin height">
    <div id="dashLinksContainer" class="col s3 card-panel grey lighten-2">
        <div id="homePhoto" class="col s10 push-s1 blue">
            photo
        </div>
        <div class="col s12 center dashLink firstLink">LOOPS</div>
        <div class="col s12 center dashLink">SAMPLES</div>
        <div class="col s12 center dashLink">DRUMS</div>
        <div class="col s12 center dashLink">NOISE</div>
        <div class="col s12 center ">
            <div id="bioPara" class="col s8 push-s2 grey">
                Ian Fletcher is a Producer/Engineer from St. Louis Missouri specializing in hip-hop and indie-rock
            </div>
        </div>

    </div>
    <div id="dashSoundsContainer" class="col s7 push-s1 card-panel grey lighten-2">
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
    </div>
</div>
{{!-- ------------------------------------THIS IS WHERE THE CSS IS ------------------------------------------ --}}
<style type="text/css">
    .dashLink{
        color:blue;
        margin-top:2%
    }
    .firstLink{
        margin-top:5%
    }
    .bgcolor{
        background-color: #212121
    }

    #dashSoundsContainer{
        height:90%;
        transform: translateX(3%);
    }

    #homePhoto{
        background-image: url("https://musicproductionnerds.com/wp-content/uploads/2017/09/Music-Producer.jpg");
        background-repeat: no-repeat;
        background-size: 200px 200px;
    }

    #dashLinksContainer{
        height:75%;
        transform: translateX(15%);


    }
    #homePhoto{
        height:40%;
        margin-top:5%
    }
    #bioPara{
        color:red;
        margin-top:5%;
        font-size:14px;
    };

  

</style>



