<!-- this is the template for the dashboard post selection -->
<div class="center card-panel teal accent-3">
    <a id="dashboardPostName" class="waves-effect waves-teal btn-flat white grey-text">
        Post Name 6/6/06
    </a>
</div>