<!-- this is the template for the dashboard post selection -->
<div class="center card-panel grey lighten-2">
    <a id="dashboardPostName" class="waves-effect waves-teal btn-flat grey darken-2 white-text">
        Post Name 6/6/06
    </a>
</div>