<div class="row card-panel white no-margin height">
    <div id="dashLinksContainer" class="col s3 card-panel red">
        <div class="col s10 push-s1 blue">
            photo
        </div>
        <div class="col s12">loops</div>
        <div class="col s12">samples</div>
        <div class="col s12">drums</div>
        <div class="col s12">noise</div>
        <div class="col s12">
            <div class="col s8 push-s2">
                description paragraph goes here
            </div>
        </div>

    </div>
    <div id="dashSoundsContainer" class="col s7 push-s1 card-panel purple">
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
        <div class="col s12 card-panel green">sound
        </div>
    </div>
</div>
{{!-- ------------------------------------THIS IS WHERE THE CSS IS ------------------------------------------ --}}
<style type="text/css">
    #dashSoundsContainer{
        height:90%;
        transform: translateX(3%);

    }

    #dashLinksContainer{
        height:70%;
        transform: translateX(15%);


    }

</style>



