<!-- this is the template for Home Page for some reasong this works even when comted out -->
<div id="flow-text" class="center ">
    <div id="flow-text" class="center card-panel">
        <h3 id="flow-text" class="grey-text text-darken-1 center logofont">
            SOUNDS
        </h3>

        {{#each post as |post|}}
        {{>singlepost}}
        {{/each}}

    </div>
    
    {{!-- once comment rout is set up in home-routs.js this will generate the section --}}
    

</div>
