<!-- this is the template for a new comment  -->
<div id="flow-text" class="center card-panel">
    <h5 id="flow-text" class="white-text center card-panel pink lighten-4">
        New Comment
    </h5>

    <div class="row">
        <form class="col s12">

            <div class="row">
                <div class="active input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label class="active" for="textarea2">Comment Text</label>
                </div>
            </div>
            <a id="newCmtSubmitBtn" class="waves-effect waves-teal btn-flat">
                SUBMIT
            </a>
        </form>
    </div>

</div>