<!-- this is the template for the form element that takes in new posts -->
<div class="container row">
    <div id="flow-text" class="card-panel col s10 offset-s1 center roof round med-height">
        <h4 id="flow-text" class="green-text center logofont text-accent-3 bot-margin">
            New Post
        </h4>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="active input-field col s10 offset-s1">
                        <input id="input_text" type="text" data-length="10">
                        <label class="active" for="input_text">Post Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="active input-field col s10 offset-s1">
                        <textarea id="textarea2" class="materialize-textarea" data-length="1200"></textarea>
                        <label class="active" for="textarea2">Post Content</label>
                    </div>
                </div>
                <a id="submitPostBtn" class="waves-effect waves-teal btn-flat btnbtn">
                    SUBMIT
                </a>
            </form>
            <script src='submitPost.js'></script>
            <style type="text/css">
                .btnbtn {

                    transition: transform 250ms !important;
                }

                .btnbtn:hover {
                    transform: translateY(-10px) !important;
                }
            </style>
        </div>


    </div>
</div>