<!-- this is the template for the form element that takes in new posts -->
<div class="container row">
    <div id="flow-text" class="card-panel col s10 offset-s1 center roof round form-height">
        <h4 id="flow-text" class="green-text logofont text-accent-3">
            New Sound
        </h4>
        <div class="row">
            <div class="holder">
                <form class="col s12">
                    <div class="row">
                        <div class="active input-field col s8 offset-s2">
                            <input id="input_text" type="text" data-length="10">
                            <label class="active" for="input_text">SOUND TITLE</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active input-field col s8 offset-s2">
                            <textarea id="textarea2" class="materialize-textarea" data-length="1200"></textarea>
                            <label class="active" for="textarea2">SOUND URL</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 offset-s2">
                            <form action="/action_page.php">
                                <label class="active left" for="country">SOUND TYPE</label>
                                <select id="country" name="country">
                                    <option value="loops"></option>
                                    <option value="loops">LOOPS</option>
                                    <option value="noise">NOISE</option>
                                    <option value="drums">DRUMS</option>
                                    <option value="samples">SAMPLES</option>
                                </select>
                            </form>
                        </div>
                        <div class="active input-field col s4 ">
                            <textarea id="textarea3" class="materialize-textarea" data-length="1200"></textarea>
                            <label class="active" for="textarea3">MIN:SEC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active input-field col s8 offset-s2">
                            <textarea id="textarea4" class="materialize-textarea" data-length="1200"></textarea>
                            <label class="active" for="textarea4">Description</label>
                        </div>
                    </div>

                    <a id="submitPostBtn" class="waves-effect waves-teal btn-flat btnbtn">
                        SUBMIT
                    </a>
                </form>
            </div>
        </div>
        {{!-- JAVASCRIPT AND CSS IMPORTED / INLINE STYLED ------------------------------------------------- --}}
        <script src='submitPost.js'></script>
        <style type="text/css">
            .btnbtn {

                transition: transform 250ms !important;
            }

            .btnbtn:hover {
                transform: translateY(-10px) !important;
            }

            .bot-margin {
                margin-bottom: 12%;
            }
            .form-height {
            height:80vh
            }

            input[type=text],
            select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #45a049;
            }
        </style>

    </div>
</div>