<!-- this is the template for the form element that takes in new posts -->
<div id="flow-text" class="center card-panel">
    <h5 id="flow-text" class="white-text center card-panel teal accent-3">
        New Post
    </h5>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="active input-field col s6">
                    <input id="input_text" type="text" data-length="10">
                    <label class="active" for="input_text">Post Title</label>
                </div>
            </div>
            <div class="row">
                <div class="active input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label class="active" for="textarea2">Post Content</label>
                </div>
            </div>
            <a  id="submitPostBtn" class="waves-effect waves-teal btn-flat">
                SUBMIT
            </a>
        </form>
    </div>
    <script src='submitPost.js' ></script>

</div>