<!-- this is the template for Single Post with submitable comment section bellow  -->

<div  class="container ">
    {{!-- ---------------------------------POST BEGINS HERE-------------------------------------- --}}
    
    

<div class="row">
    <div class="col s12 cardpanel grey center height">
        <iframe id="SpotifyPlayer" src="https://open.spotify.com/embed/artist/391cQTgUsbV6iSWdvDdCbp?si=gP1kagBLRIuL_Emxt4Nr6Q" 
    width="500" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    </div>
</div>







    
   

   


</div>


<script src='/subComment.js'></script>