<!-- this is the main post template -->
<div id="flow-text" class="center card-panel">
    <h4 id="flow-text" class="white-text center card-panel pink lighten-4">
        Title
    </h4>
    <p class="flow-text">
        One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While
        elements
        on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text
        heavy
        pages, we've created a class that fluidly scales text size and line-height to optimize readability for
        the
        user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
    </p>
    <p class="flow-text">
        Posted by: User123 at 5:30 PM 6/6/06
    </p>
    <a id="updateBtn" class="grey-text waves-effect waves-light btn light-blue lighten-4">Update</a>
    <a id="deleteBtn" class="grey-text waves-effect waves-light btn  purple lighten-4">Delete</a>
</div>