<!-- this is the template for Single Po  -->
<div id="flow-text" class="center ">
    <div id="flow-text" class="center card-panel">
        <h5 id="flow-text" class="white-text center card-panel pink lighten-4">
            {{post_title}}
        </h5>
        <p>
            {{post_text}}
        </p>

    </div>
    
    {{!-- once comment rout is set up in home-routs.js this will generate the section --}}
    <div id="flow-text" class="center card-panel">
        <h5 id="flow-text" class="white-text center card-panel purple lighten-4">
           comments
        </h5>
    
        {{!-- needs home-routs to have comment get too --}}
        {{comment_text}}
       
    
    
    
    </div>

</div>